.App {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar div {
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar div.active {
  font-weight: bold;
}

.content {
  padding: 20px;
  box-sizing: border-box;
}
